# bundler state
/.bundle
/vendor/bundle/

# minimal Rails specific artifacts
db/*.sqlite3
/log/*
/tmp/*

# RubyMine project files
.idea

# various artifacts
/public/cache
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/cache
.byebug_history